{% extends 'base.html' %}
{% block title %}
    Game Store
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-2"><i class="fa fa-plus" aria-hidden="true"></i>Add genre</div>
    <div class="col-8"></div>
    <div class="col-2">
        <form action="{{ url_for('main') }}">
            <input type="search" name="search">
        </form>
        {% if user_code and user_code !=1 %}
        <form action="">
            <button type="submit" class="green_but">Add Game</button>
         </form>
        {% endif %}
    </div>
</div>
{% endblock %}