{% extends 'base.html' %}
{% block title %}
    Game Store
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-2">
      <div id="GenresContent" style="display:none;">
        <div class="popover-body">
          <form action="{{ url_for('main') }}">
            {% for i in dict_genre_subgenre.keys() %}
            <div class="d-flex justify-content-start">
              <div class="form-check m-1">
                <input class="form-check-input {{ i.title }}" type="checkbox" name="Genre_{{ i.title }}" value="Genre" onClick="ckChangeSubgenre(this)">
                <label class="form-check-label">{{ i.title }}</label>
              </div>
              {% for j in dict_genre_subgenre[i] %}
              <div class="form-check ml-2">
                <input class="form-check-input {{ i.title }}" type="checkbox" name="Subgenre_{{ j.title }}" value="Subgenre" onClick="ckChangeGenre(this)">
                <label class="form-check-label">{{ j.title }}</label>
              </div>
              {% endfor %}
            </div>
            {% endfor %}
            <button class="btn btn-success mt-2">apply</button>
          </form>
        </div>
      </div>
      <button type="button" data-toggle="popover" data-placement="bottom" data-html='true' class="btn btn-link nav-link" style="color: white;" data-popover-content="#GenresContent"><i class="fa fa-plus" aria-hidden="true"></i>Add genre</button>
    </div>
    <div class="col-8"></div>
    <div class="col-2">
        <form action="{{ url_for('main') }}">
            <input type="search" name="search" value="{{ request.args.get('search', '') }}">
        </form>
        {% if user_code and user_code !=1 %}
        <a class="green_but links" href="{{ url_for('addgame') }}">Add Game</a>
        {% endif %}
    </div>
    <div class="overflow-auto container scrollChat mt-4">
        <div class="row row-cols-1 row-cols-md-3 g-4" style="margin-right: -15px;">
          {% for i in games.keys() %}
            {% if not i.is_delete %}
              {% if user_code and user_code !=1 %}
              <div class="col mb-5 mb-1">
              <div class="card bg-transparent border-0 holder">
                <img src="{{ games[i][1] }}" class="card-img-top" alt="image">
                
                  <div class="container mt-2">
                    <div class="row">
                      <div class="col"><h2 class="display-6">{{ i.price }}$</h2></div>
                      <div class="col"></div>
                      <div class="col"><a class="green_but_big links" href="{{ url_for('game', uuid=i.uuid) }}">BUY</a></div>
                    </div>
                    <p class="m-0">{{ games[i][0] }}</p>
                    <h5>{{ i.title }}</h5>
                  </div>
                  <div class="manage_block">
                    <a href="{{ url_for('editgame', uuid=i.uuid) }}" class="btn btn-link nav-link" style="color: black; font-size: 22px; margin-top: 120px;" ><i class="fa fa-edit" aria-hidden="true"></i>Edit Game</a>
                  <form action="{{ url_for('addgame') }}" class="ajax_del_game" style="margin-left: 60px;">
                    <input type="hidden" name="del_game_uuid" value="{{ i.uuid }}" />
                    <button type="submit" class="btn btn-link nav-link" style="color: black;font-size: 20px; font-size: 22px;"><i class="fa fa-trash" aria-hidden="true"></i>Delete Game</button>
                  </form>
                  </div>
              </div>
              </div>
              {% else %}
              {% if i.is_visible%}
              <div class="col mb-5 mb-1">
              <div class="card bg-transparent border-0">
                
                <img src="{{ games[i][1] }}" class="card-img-top" alt="image">
                  <div class="container mt-2">
                    <div class="row">
                      <div class="col"><h2 class="display-6">{{ i.price }}$</h2></div>
                      <div class="col"></div>
                      <div class="col"><a class="green_but_big links" href="{{ url_for('game', uuid=i.uuid) }}">BUY</a></div>
                    </div>
                    <p class="m-0">{{ games[i][0] }}</p>
                    <h5>{{ i.title }}</h5>
                  </div>
              </div>
              </div>
              {% endif %}
              {% endif %}
            {% endif %}
          {% endfor %}
        </div>
    </div>
</div>
{% endblock %}