{% extends 'base.html' %}
{% block title %}
    Register
{% endblock %}

{% block content %}
  <div class="text-center">
    <a href="{{ url_for('main') }}">
      <img class="mb-4 p-3 text-center" src="../static/logo.png" alt="logo" width="200" height="200">
    </a>
    <h1 class="h3 mb-3 fw-normal">Sign up</h1>
  </div>

    <form class="form col-md-12 center-block" method="POST">
      <div class="form-group">
        <input type="text" name="name" class="form-control input-lg" placeholder="First Name" required>
      </div>
      <div class="form-group">
        <input type="text" name="surname" class="form-control input-lg" placeholder="Last Name" required>
      </div>
      <div class="form-group">
        <input type="text" name="username" class="form-control input-lg" placeholder="Username" required>
      </div>
      <div class="form-group">
        <input type="email" name="email_address" class="form-control input-lg" placeholder="E-mail" required>
      </div>
      <div class="form-group">
        <input type="password" name="password" class="form-control input-lg" placeholder="Password" required>
      </div>
      <div class="form-group">
        <input type="password" name="password_repeat" class="form-control input-lg" placeholder="Repeat password" required>
      </div>
      
      <div class="form-group">
        <button class="btn btn-success btn-lg btn-block">Register</button>
      </div>
    </form>
{% endblock %}